/*
 * General styling
*/

* {
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
}

.header, .content, footer {
    position: absolute;
    left: 0;
    right: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/*
 * Styling the nav bar/header
*/

.header {
    /* General header styling */
    background-color: #333;
    top: 0;
    --header-height: 45px;
    height: var(--header-height);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    /* Styling items within the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Styling text within the header */
    font-weight: bold;
    list-style: none;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:visited {
    color: inherit;
}

.header a:hover {
    color: #999;
}

.header a:active {
    color: #999;
    text-decoration: underline;
}

/* Styling for the "desktop" version of the nav links starts here */

#nav-list-desktop li {
    text-align: right;
    display: inline;
    margin-right: 10px;
    list-style: none;
}

/* Styling for the "desktop" version of the nav links ends here */

/* Styling for the "mobile" version of the nav links starts here */

#toggle-navbutton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Making the three bar menu icon into a cross icon */

#toggle-navbutton[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#toggle-navbutton[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}

#toggle-navbutton[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}

#toggle-navbutton[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#toggle-navbutton[aria-expanded='true'] + #nav-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#toggle-navbutton[aria-expanded='true'] + #nav-menu #nav-list-mobile {
    padding: 1em;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 2px;
    background-color: white;
}

#nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1000000;
}

#nav-list-mobile {
    list-style: none;
    position: absolute;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    line-height: 170%;
}

/* Styling for the "mobile" version of the nav links ends here */

/*
 * Styling the main content of the page
*/

.content {
    top: 45px;
    bottom: 50px;
    overflow: hidden;
}

.inner-content {
    overflow: auto;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#home {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.profile-pic {
    height: auto;
    width: 234px;
    border-radius: 25px;
}

.home-aboutme {
    padding-left: 5%;
}

.home-aboutme h1 {
    font-size: 3em;
}

.home-aboutme p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

#projects {
    padding-bottom: 50px;
}

#projects h2 {
    font-size: 2em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 0 6px 20px rgba(51, 51, 51, 0.75);
    border-radius: 15px;
}

.project-container a {
    color: black;
    text-decoration: none;
}

.project-container a:visited {
    color: inherit;
}

.project-container a:hover {
    color: #666;
}

.project-container a:active {
    color: #666;
    text-decoration: underline;
}

.project-pic {
    height: auto;
    width: 234px;
    border-radius: 15px 15px 0px 0px;
}

/*
 * Styling the footer
*/

footer {
    padding-left: 5%;
    padding-right: 5%;
    bottom: 0;
    height: 50px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    padding: 0px;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}

.footer-links {
    text-decoration: none;
    color: black;
}

.footer-links:visited {
    color: inherit;
}

.footer-links:hover {
    color: #666;
}

.footer-links:active {
    color: #666;
    text-decoration: underline;
}

.footer-img {
    width: 20px;
    height: auto;
}

/*
 * Styling the subpages
*/

.title {
    text-align: center;
}

.aboutproject {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 50px;
}

.aboutproject-text {
    padding-left: 5%;
}

.aboutproject-text h2 {
    font-size: 1em;
}

.aboutproject-text li {
    line-height: 25px;
}

.showcase-img {
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(51, 51, 51, 0.75);
    align-self: flex-start;
    height: auto;
    width: 234px;
}
